{% extends "layout.html" %}




{% block body %}

<h1>WIKI</h1>
<p>ERFASSUNG VON OFFENLAGEN
Durchführung von Offenlagen nach dem Baugesetzbuch (BauGB) über das GeoPortal.rlp


Registrieren zur Erfassung von Offenlagen
Um die Offenlagen Ihrer Kommune über das GeoPortal.rlp veröffentlichen zu können, benötigen Sie einen entsprechenden Zugang.

Wenn Sie schon durch die Bearbeitung und Registrierung von Bebauungsplänen, Flächennutzungsplänen oder Sanierungssatzungen Zugangsdaten besitzen, so muss Ihnen noch die spezielle Oberfläche „Erfassung Offenlagen“ freigeschaltet werden. In diesem Fall schreiben Sie bitte unter Angabe Ihres Benutzernamens eine kurze E-Mail an kontakt@geoportal.rlp.de . Nach der Freischaltung erhalten Sie eine schriftliche Bestätigung und Sie können mit dem nächsten Schritt weitermachen.

Sollten Sie noch nicht beim Geoportal registriert sein
gehen Sie wie folgt vor:

Registrieren Sie sich im GeoPortal.rlp.
Und nehmen Kontakt mit dem Team geoportal.rlp auf kontakt@geoportal.rlp.de, damit Ihnen die entsprechende Erfassungsoberfläche freigeschaltet werden kann.

Betroffene Fläche(n) der Offenlage erfassen
Melden Sie sich mit Ihren Zugangsdaten an.
Melden Sie sich zuerst mit Ihren Zugangsdaten an und überprüfen Sie, ob im Menü nun Ihr Nutzername angezeigt wird. Sollte dies nicht der Fall sein, liegt das vermutlich daran, dass Ihr Browser nicht richtig eingestellt ist. Cookies sollten (zumindest temporär) zugelassen werden und auch das (temporäre) Anlegen einer Chronik sollte erlaubt sein.

https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Anmelde_nutzernamen_einsehen.png


Öffnen Sie nun den Kartenviewer.
https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Kartenviewer_oeffnen.png


Öffnen Sie die Funktion "Andere Kartenanwendungen auswählen"
Dort sehen Sie rechts zwei weitere Symbole.

https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Andere_kartenanwendung_auswaehlen.png


Wählen Sie die Anwendung „Erfassung Offenlagen“ aus.
Mit Klick auf das Ordner-Symbol werden Ihnen die Anwendungen präsentiert, für die eine Berechtigung vorliegt. Wählen Sie die Anwendung „Erfassung Offenlagen“ aus.

https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Erfassung_offenlagen_auswahl.png


Benutzerberfläche "Erfassung von Offenlagen"
https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Benutzeroberfl_erf_offenlagen.png


Erfassung des Polygon und Werkzeuge
Zoomen Sie mit Hilfe Ihres Mausrades oder mit den Lupen (1) in der ersten Werkzeugreihe auf den für Sie relevanten Ort.
Um das betroffene Gebiet mit einem Umring zu erfassen, wählen Sie das erste Werkzeug in der unteren Reihe namens „Polygon hinzufügen“ (2) und klicken Sie anschließend die entsprechenden Eckpunkte (3) in der Karte an.
Sobald Sie Ihren Startpunkt erneut anklicken, schließt sich die Fläche und ein entsprechender Eintrag (4) erscheint rechts unter den Werkzeugen.
Hier sehen Sie nur die von Ihnen selbst erfassten Flächen. Sie können grundsätzlich auch nur diese bearbeiten und löschen.
https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Polygon_offenl.png

Hinweis für mehrteilige Bereiche (z.B. bei außerhalb liegenden Ausgleichsflächen):

Erfassen Sie zuerst jeden Bereich einzeln.
Mit anschließendem Klick auf das Symbol "Zwei Polygone zu einem Polygon zusammenfügen" (A) werden die zuvor erfassten Polygone automatisch zu einem Multipolygon zusammengefasst.
Upload des Umring-Polygons
Ab Dezember 2023 ist es möglich, den oben genannten Schritt durch das Hochladen des Polygons zu ersetzen, sofern Sie dieses bereits erfasst haben. Die Uploadfunktion unterstützt aktuell 2 verschiedene Geometrieformate:
GeoJSON
ESRI-Shape (Es handelt sich um ein Format, dass aus mehreren Dateien besteht. Diese müssen gemeinsam in Form eines ZIP-Archives hochgeladen werden!)
https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Upload_geometry_ab_2023_12.png

In folgendem Video wird die Funktion in 55 Sekunden erklärt: https://www.geoportal.rlp.de/metadata/upload_geometry.mp4

Erfassung von Informationen zur Offenlage
Um nun alle relevanten Informationen eintragen zu können, wählen Sie das "speichern/aktualisieren/löschen"-Symbol Ihres erfassten Polygons (4, linkes Symbol), siehe oben beschrieben.

Daraufhin öffnet sich eine Eingabemaske, in dem alle Felder wie folgt ausgefüllt werden müssen:

Im Feld "Art und Typ des Plans" festlegen, um welche Art des Bebauungsplans (BPlan) oder Flächennutzungsplans (FPlan) es sich handelt. Klicken Sie hierzu in das Feld und wählen Sie eine Option aus. In den meisten Fällen handelt es sich vermutlich um einen einfachen BPlan.
https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Offenlage_erfasssungsmaske_art.png


Im Feld "Name des Plans" müssen entsprechende Angaben eingetragen werden.

"AGS" bedeutet „Amtlicher Gemeindeschlüssel“ aus dem amtlichen Verzeichnis der Gemeinden und Gemeindeteile. Per Klick auf das Fragezeichen-Symbol, rechts neben diesem Feld, erscheint ein Link auf eine PDF-Datei, in der Sie Ihren benötigten AGS finden können.

Im Feld "Stadt / Ort" geben Sie bitte den Namen der Stadt- bzw. Gemeinde ein, welche für die jeweilige Planung zuständig ist.

Im Feld "Link" sollte eine URL zur Internetseite, unter der die Gemeinde bzw. die Stadt den Bekanntmachungstext sowie die Planentwürfe anbietet, eingetragen werden.
Bitte prüfen Sie den Link nach Veröffentlichung der Offenlage bzgl. der Funktion. Links, die ähnlich https://www.geoportal.rlp.de/mapserver/cgi-bin/www.Ihre_Homepage_der_Kommune.de lauten, führen zu einer Fehlermeldung.

Link zum Dienst im GeoPortal.rlp: Offenlagen gem. §4 (a) BauGB Offenlagen


Sobald Sie in die Felder "Öffentliche Bekanntmachung", "Beginn der Offenlage" bzw. "Ende der Offenlage" klicken, öffnet sich ein Kalender, in dem Sie das entsprechende Datum anwählen können.
https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Offenlage_erfasssungsmaske_datepic.png

Die Funktion "Öffentliche Bekanntmachung" steuert die Sichtbarkeit der Veröffentlichung. Ab dem dort eingetragenen Datum wird die Sichtbarkeit automatisiert veröffentlicht. Dazu muss die Funktion "Öffentlich sichtbar" ebenfalls auf "Ja" angeklickt sein.
Um "Öffentlich Sichtbar" erscheinen zu können, wird diese im Dropdownfeld auf "Ja" gesetzt. Dadurch wird der Umring mit beigefügten Daten im GeoPortal.rlp, Dienst "Offenlagen gem. §4(a) BauGB" sichtbar.
https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Offenlage_erfasssungsmaske_sichtbark.png

Nach Eingabe aller Daten [Speichern] klicken.


Ihr Plan erscheint in der Darstellung des Dienstes – entsprechend der Legende auf der selben Oberfläche:
in grün, wenn dieser öffentlich sichtbar und noch aktiv ist, also der aktuelle Zeitpunkt zwischen dem Datum der öffentlichem Bekanntmachung und dem Ende der Offenlage liegt
in rot, wenn das Ende der Offenlage überschritten ist oder
in lila, wenn Sie die Sichtbarkeit (noch) nicht mit dem entsprechenden Eintrag aktiviert haben.
https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Offenlage_legende.png



Hinweise zum ausfüllen des weiteren Reiters "UVP" (seit 2023 eingeführt) finden Sie hier.

Sobald Sie alle Einträge gespeichert haben, erscheint Ihr Eintrag mit angepassten Informationen und mit einem neuen Werkzeug, siehe:
Per Klick auf das erste Werkzeug können Sie die Angaben anpassen.
Mittels der roten Achteck-Symbols wird die Offenlage aus Ihrer Auswahl gelöscht.
Die Löschung aus der Datenbank kann über das neue, dritte Datenbank-Symbol erfolgen.
https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Offenlage_new_symb.png

Nach dem Speichern der erfassten Offenlage: Hinweise und Fragen
Wann wird die Offenlage im Dienst "Offenlagen gem. §4 (a) BauGB" zu sehen sein?
Die Offenlage wird sofort, mit dem speichern veröffentlicht.
Warum sehe ich meine Offenlage nicht im Dienst "Offenlagen gem. §4 (a) BauGB" , obwohl ich gespeichert habe?
Evtl. haben Sie für den Beginn der Offenlage ein Datum erfasst, das zeitlich später als der Erfassungstag liegt. In diesem Fall wird die Offenlage an diesem Termin automatisiert geöffnet.
Bitte belassen Sie die Daten der Offenlage im System. Durch das Ende-Datum wird die Offenlage nicht über dieses Datum hinaus veröffentlicht sichtbar sein.

Nachträgliches Änderung der erfassten Attribute einer Offenlage
Wenn Sie nachträglich Änderungen an den Attributen vornehmen wollen, gehen Sie wie folgt vor:


Offenlagen in der Datenbank wiederfinden
In der Oberfläche „Erfassung Offenlage“ stehen rechts oben verschiedene Suchwerkzeuge zur Verfügung:

https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Attribute_aendern.png

Suchwerkzeuge für räumliche Filter oder
Eingabe des Plannamens
Eingabe des Ortsnamens
Bei dem räumlichen Filter können Sie entweder ein Rechteck in der Karte aufziehen oder eine individuelle Fläche erfassen, in der gesucht werden soll. Wurde ein räumlicher Filter gesetzt, so erscheint ein entsprechender Hinweis:

https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Raumlicher_filter.png


Wurden passende Einträge in der Datenbank gefunden, so erscheinen diese als Trefferliste in einem neuen Fenster. Der Eintrag, der angepasst werden muss, wird nun per Mausklick angewählt wund damit farblich hervorgehoben. Klicken Sie anschließend links unten auf „edit“.

https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Offenlage_suchergebnisse.png_450px

Offenlagen aktualisieren und bearbeiten
Der Umring des ausgewählten Plans wird nun im Kartenviewer der Erfassungsoberfläche dargestellt. Zusätzlich erscheint die ausgewählte Offenlage mit weiteren Werkzeugen rechts neben dem Kartenviewer.

https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Offenlage_aktual_werkz.png

Per Klick auf das "Speichern/aktualisieren/löschen"-Symbol (im Bild rund markiert) öffnet sich die Eingabemaske für die Attribute. Dort können die Einträge angepasst und per Klick auf „Aktualisieren“ gespeichert werden.

Mittels der (im Bild rechteckig markierten) Werkzeuge "Stützpunkt verschieben", "Stützpunkt löschen", "Stützpunkt hinzufügen" lässt sich der erfasste Umring anpassen.

WICHTIGER HINWEIS: Anschließend müssen Sie die Eingabemaske für die Attribute öffnen und aktualisieren. Nur dann wird diese Anpassung gespeichert.

https://www.geoportal.rlp.de/mediawiki/index.php/Datei:Offenlage_aktualisieren.png

Attribute zur UVP erfassen
Hinweise zur nachträglichen Erfassung von Attributen zur UVP-Richtlinie werden hier erklärt.

Offenlagen im Dienst "Offenlagen nach BauGB" suchen
Im GeoPortal.rlp können alle derzeit aktiven Offenlagen im Dienst | Offenlagen gemäß §4(a) BauGB eingesehen werden.</p>
{% endblock body %}